body {
  background-color: rgb(167, 241, 238);
}

footer {
  display: flex;
  flex-direction: column;

  padding: 80px 20px 60px;
  background-color: #ee0f91;
  color: white;
}


.jumbotron{
  background-color: #ee0f91;
}